/* COLORS */

:root {
  --color-background-500: #282829;
  --color-background-600: #222222;

  --color-foreground-500: #ffffff;
  --color-foreground-600: #f1a87d;
  --color-foreground-700: #e08c5b;
}

/* ANIMATIONS */

:root {
  --transition-duration: 0.15s;
}

/* FONTS */

@font-face {
  font-family: "Prata";
  src: local("Prata"), local("Prata Regular"), local("Prata-Regular"),
    url("../fonts/Prata-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-arial: "Arial", "Tahoma", "Geneva", "Verdana", sans-serif;
  --font-prata: "Prata", "Times New Roman", "Times", serif;
}

/* BASIC */

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* PAGE */

.page,
.page__body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.page__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-background-500);

  font-family: var(--font-arial);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-foreground-500);
  overflow-wrap: break-word;
  word-break: break-word;
}

.page__header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
  margin-top: auto;
}

/* UTILS */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  white-space: nowrap;

  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
}

/* HEADER */

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  display: flex;
  justify-content: center;
  min-height: 120px;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--color-background-600);
}

.header__inner {
  display: flex;
  width: 100%;
  max-width: 1600px;
  justify-content: start;
  align-items: center;
  column-gap: 32px;
}

.header__logo {
  flex-shrink: 0;
}

.header__navigation {
  flex-grow: 1;
}

/* LOGO */

.logo {
  font-family: var(--font-prata);
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: var(--color-foreground-500);
}

/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 16px;
  column-gap: 32px;
}

.navigation__link {
  font-style: italic;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-foreground-500);

  transition-property: color;
  transition-duration: var(--transition-duration);
}

.navigation__link:hover {
  color: var(--color-foreground-600);
}

.navigation__link:active {
  color: var(--color-foreground-700);
}
