/* COLORS */

:root {
  --color-white: #ffffff;

  --color-red: #e05b5b;

  --color-grey-100: #ebebeb;
  --color-grey-200: #d6d6d6;
  --color-grey-300: #c4c4c4;
  --color-grey-400: #606164;
  --color-grey-500: #424244;
  --color-grey-600: #313133;
  --color-grey-700: #282829;
  --color-grey-800: #222222;
  --color-grey-900: #1d1d1d;

  --color-orange-400: #fdd2b9;
  --color-orange-500: #f1a87d;
  --color-orange-600: #e08c5b;
  --color-orange-700: #c57243;
}

/* ANIMATIONS */

:root {
  --transition-duration: 0.15s;
}

/* FONTS */

@font-face {
  font-family: "Prata";
  src: local("Prata"), local("Prata Regular"), local("Prata-Regular"),
    url("../fonts/Prata-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-arial: "Arial", "Tahoma", "Geneva", "Verdana", sans-serif;
  --font-prata: "Prata", "Times New Roman", "Times", serif;
}

/* UTILS */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  white-space: nowrap;

  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
}

/* BASIC */

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
ul,
h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* PAGE */

:root {
  --page-max-width: 1600px;
  --page-padding: 160px;

  --header-min-height: 120px;

  --hero-icon-width: 39px;
  --hero-icon-height: 37px;
  --hero-icon-offset: 20px;
  --hero-image-width: 764px;
  --hero-image-height: 1010px;
  --hero-padding-top: calc(var(--header-min-height) + 135px);

  --header-padding-right: calc(var(--hero-image-width) + 30px);

  --features-icon-width: 58px;
  --features-icon-height: 47px;
  --features-icon-offset: 20px;
  --features-image-width: 622px;
  --features-image-height: 724px;

  --join-border-radius: 30px;
  --join-image-background-width: 677px;
  --join-image-background-height: 632px;
  --join-image-foreground-width: 496px;
  --join-image-foreground-height: 682px;
}

.page,
.page__body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-grey-700);

  font-family: var(--font-arial);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  overflow-wrap: break-word;
  word-break: break-word;
}

.page__header {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 100px;
}

.page__footer {
  flex-shrink: 0;
  margin-top: auto;
}

/* BUTTON */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 190px;
  max-width: 320px;
  min-height: 96px;
  padding: 30px;
  border-radius: 4px;

  font-family: var(--font-arial);
  font-weight: 700;
  font-size: 24px;
  color: var(--color-grey-800);
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--color-white);

  transition-property: background-color;
  transition-duration: var(--transition-duration);

  cursor: pointer;
}

.button:hover {
  background-color: var(--color-orange-500);
}

.button:active {
  background-color: var(--color-orange-600);
}

.button--features {
  max-width: none;
  width: 100%;
  min-height: 76px;
  padding: 20px;

  font-size: 20px;
}

.button--submit {
  max-width: none;
  width: 100%;
  border: none;

  font-weight: 400;
  color: var(--color-white);

  background-color: var(--color-grey-700);
}

.button--submit:hover {
  background-color: var(--color-orange-600);
}

.button--submit:active {
  background-color: var(--color-orange-700);
}

/* HEADER */

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  min-height: var(--header-min-height);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  padding-top: 30px;
  padding-bottom: 30px;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
}

.header__inner {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 200px;
  width: 100%;
  max-width: var(--page-max-width);
  padding-right: var(--header-padding-right);
}

.header__logo {
  flex-shrink: 0;
}

.header__navigation {
  flex-grow: 1;
}

/* LOGO */

.logo {
  font-family: var(--font-prata);
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: var(--color-white);
}

/* NAVIGATION */

.navigation {
  display: flex;
  justify-content: start;
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 16px;
  column-gap: 32px;
}

.navigation__link {
  font-style: italic;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);

  transition-property: color;
  transition-duration: var(--transition-duration);
}

.navigation__link:hover {
  color: var(--color-orange-500);
}

.navigation__link:active {
  color: var(--color-orange-600);
}

/* HERO */

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  width: 100%;
  min-height: var(--hero-image-height);
  padding-left: var(--page-padding);

  background-color: var(--color-grey-800);
}

.hero::after {
  content: "";

  position: relative;

  flex-shrink: 0;
  display: block;
  width: var(--hero-image-width);
  height: var(--hero-image-height);

  background-image: url("../img/hero/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 36px;
  width: 100%;
  max-width: calc(
    var(--page-max-width) + var(--page-padding) - var(--hero-image-width) - 30px
  );
  padding-top: var(--hero-padding-top);
  padding-bottom: 50px;
}

.hero__title {
  font-family: var(--font-prata);
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
}

.hero__motto {
  font-size: 50px;
  line-height: 1.2;
}

.hero__list {
  padding-left: calc(var(--hero-icon-width) + var(--hero-icon-offset));
}

.hero__item {
  position: relative;

  font-size: 24px;
  line-height: 1.4;
}

.hero__item::before {
  content: "";

  position: absolute;
  left: calc(-1 * (var(--hero-icon-width) + var(--hero-icon-offset)));
  top: 50%;

  width: var(--hero-icon-width);
  height: var(--hero-icon-height);

  background-image: url("../img/hero/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--hero-icon-width) var(--hero-icon-height);

  transform: translateY(-50%);
}

.hero__hightlight {
  font-family: var(--font-prata);
  font-size: 40px;
  letter-spacing: 0.4px;
  vertical-align: middle;
}

/* FEATURES */

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: calc(var(--page-max-width) + var(--page-padding) * 2);
  min-height: var(--features-image-height);
  column-gap: 50px;
}

.features::before,
.features::after {
  content: "";

  grid-row: 1 / 2;
  display: block;
  width: 100%;
  height: var(--features-image-height);

  background-repeat: no-repeat;
  background-size: var(--features-image-width) var(--features-image-height);
  background-position: center;
}

.features::before {
  grid-column: 1 / 2;

  background-image: url("../img/features/features-01.jpg");
}

.features::after {
  grid-column: 3 / 4;

  background-image: url("../img/features/features-02.jpg");
}

.features__inner {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  min-height: var(--features-image-height);
  row-gap: 36px;
}

.features__list {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-left: calc(var(--features-icon-width) + var(--features-icon-offset));
}

.features__item {
  position: relative;

  font-size: 24px;
  line-height: 1.4;
}

.features__item::before {
  content: "";

  position: absolute;
  left: calc(-1 * (var(--features-icon-width) + var(--features-icon-offset)));
  top: 50%;

  width: var(--features-icon-width);
  height: var(--features-icon-height);

  background-image: url("../img/features/icon-feature.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transform: translateY(-50%);
}

.features__item:not(:last-child)::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;

  height: 1px;

  background-color: var(--color-grey-400);
}

.features__join-us {
  margin-top: auto;
}

/* JOIN US */

.join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: var(--join-image-background-height);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

.join__wrapper {
  position: relative;

  width: 100%;
  max-width: var(--page-max-width);
  height: 100%;
  padding-left: 134px;
  padding-right: calc(var(--join-image-background-width) + 95px);
  padding-top: 72px;
  padding-bottom: 72px;
  border: var(--color-orange-400) 2px solid;
  border-radius: var(--join-border-radius);

  background-color: var(--color-white);

  color: var(--color-grey-700);
}

.join__wrapper::before {
  content: "";

  position: absolute;

  right: 0;
  bottom: 0;

  width: var(--join-image-background-width);
  height: clamp(0%, var(--join-image-background-height), 100%);
  border-top-right-radius: var(--join-border-radius);
  border-bottom-right-radius: var(--join-border-radius);

  background-image: url("../img/join/background.jpg");
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

.join__wrapper::after {
  content: "";

  position: absolute;

  right: 30px;
  bottom: 0;

  width: var(--join-image-foreground-width);
  height: var(--join-image-foreground-height);

  background-image: url("../img/join/astronaut.png");
  background-size: var(--join-image-foreground-width)
    var(--join-image-foreground-height);
  background-position: center;
  background-repeat: no-repeat;
}

.join__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
}

.join__luring {
  margin-bottom: 45px;

  font-family: var(--font-prata);
  font-weight: 400;
  font-size: 54px;
}

.join__form {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.join__field {
  width: 100%;
  height: 65px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: var(--color-grey-200) 2px solid;
  border-radius: 4px;

  font-size: 24px;
}

.join__field:user-invalid {
  border-color: var(--color-red);
}

.join__checkbox-label {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;

  font-size: 19px;
  line-height: 1.3;

  cursor: pointer;

  transition-property: color;
  transition-duration: var(--transition-duration);
}

.join__checkbox-label::before {
  content: "";

  display: block;
  width: 24px;
  height: 24px;
  border: var(--color-grey-400) 2px solid;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: var(--transition-duration);
}

.join__checkbox:focus-visible + .join__checkbox-label {
  outline-width: 4px;
  outline-style: groove;
  outline-color: var(--color-white);
}

.join__checkbox:checked + .join__checkbox-label::before {
  background-color: var(--color-grey-400);
}

.join__link {
  text-decoration: none;
  color: var(--color-grey-400);

  transition-property: color;
  transition-duration: var(--transition-duration);
}

.join__link:hover {
  color: var(--color-orange-500);
}

.join__link:active {
  color: var(--color-orange-600);
}
